html {
    color: canvastext;
    background-color: #eae2c8ec;
    overflow-y: scroll; /* Enable vertical scrolling */
}

body {
    font: 100%/1.5 system-ui, sans-serif;
	display: flex;
	flex-flow: column;
	max-width: 80em;
	min-height: 100vh;
	box-sizing: border-box;
	margin: auto;
	padding: 1em;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    text-wrap: balance;
    text-align: justify;
    text-align: center;
}

h1, h2 {
    color: #F6517A;
}

p {
    font: 100%/1.5 courier;
    max-width: 500px;
}

.text-container {
    column-count: 2; /* Number of columns */
    column-gap: 20px; /* Gap between columns */
    align-items: flex-start;
}

.columntext {
    font: 100%/1.5 courier;
    max-width: 300px;
}